#board {
    display: grid;
    width: 400px;
    height: 400px;
    border-radius: 5%;
    border: 10px solid;
    overflow: hidden;
}

.block{
    background-color: white;
}

#container {
    max-width: 30%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5% 0;
    gap: 1em;
    background-color: #ccd5ae;
    border-radius: 5%;
}

body {
    background-color: #fefae0;
    font-family: 'Roboto', sans-serif;

}

input[type="color"] {
    border-radius: 5px;
    padding: 0;
    border: 5px solid #DDD;
  }
  
  input[type="color"]::-moz-color-swatch {
    border: none;
  }
  
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
  }
  
  input[type="color"]::-webkit-color-swatch {
    border: none;
  }